
.head_nav_list_li_z{
    display: inline-block;
    text-align:center;
    font-size: 14px;
    color: #2c2c2c;
    line-height: 76px;
    margin:0px 10px 0px 10px;
    z-index:10;
    background:#999;
    position: absolute;
}
.listSumbit{
	position:absolute;
	width:50px;
	height:20px;
	top:120px;
	background:#ddd;
	left:50px;
	border-radius:4px;
	line-height:20px;
	font-size:12px;
	text-align:center;
	cursor:pointer;
}
.listSumbit:hover{
	background:#ccc;
}
.headerImg{
	top:3px;
	width:15px;
	height:15px;
	position:relative;
}
.downList{
	width:120px;
	height:250px;
	z-index:20;
	margin:0px -25px;
	background-color:#f1f1f1;
}
.listCell, .font_vert{
	position:absolute;
	width:120px;
	height:30px;
	font-size:14px;
	background:#f2f2f2;
	line-height:30px;
}
.font_vert{
	width:120px;
	height:20px;
	text-align:left;
	font-size:12px;
	line-height:20px;
}
.px10_font{
	font-size:12px;
}
.relaCell{
	width:140px;
	height:30px;
	font-size:12px;
	line-height:30px;
	cursor:pointer;
	display:inline;
	position:relative;
}
.header_tips{
    text-align:left;
    width:160px;
    font-size: 12px;
    height:38px;
    color: #2c2c2c;
    z-index:10;
    position: absolute;
}
.languageleft0{
	left:85px;
}
.languageleft1{
	left:115px;
}
.iconDiv{
	left:515px;
	width:50px;
	height:360px;
	padding:0px 0px 0px 5px;
	position:absolute;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
}
.iconImg{
	width:30px;
	height:30px;
	left:0px;
	position:absolute;
}
.iconCell{
	line-height:25px;
	color:#666;
	padding: 15px 0;
}
.radioColor{
	top:30px;
	left:9px;
	color:#666;
	font-size:16px;
	position:absolute;
	display:none;
}
.radioCell{
	left:9px;
	font-size:16px;
	display:none;
	position:absolute;
	margin-top:10px;
}
.radioText{
	left:30px;
	position:absolute;
	margin-top:10px;
}
.iconSlideNav2 {
    top:30px;
    width:13px;
    height:13px;
    display:none;
    background:#FFF;
    z-index:10;
    position:absolute;
    border-left:1px solid #DACE7C;
    border-top:1px solid #DACE7C;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
.navCellLeft{
	left:9px;
}
.iconSlideOption{
	font-size:12px;
}
.iconSlideInfo {
    position:fixed;
    width:200px;
    height:40px;
    top:40px;
	left:225px;
	z-index:9;
    line-height:50px;
	background-color:#FFF;
    box-shadow:1px 1px 1px #000;
    border:1px solid #000;
    border-radius:8px;
    text-align:center;
    color:black;
    display:none;
}
#autoCorrection{
	box-shadow:0px 0px 0px;
	border-radius:0px;
	border-left:0px solid #000;
	border-right:0px solid #000;
	border-bottom:0px solid #000;
}
.downDemo{
	width:180px;
	top:53px;
    z-index:9;
    font-size:14px;
    color:#666;
    box-shadow:2px 2px 2px #000;
    padding:5px 0px 5px 10px;
    background-color:#FFF;
    border:1px solid #000;
    border-radius:6px;
    position:absolute;
    display:none;
}
.arrowDemo{
	width:15px;
	height:15px;
	z-index:10;
	top:-9px;
	left:25px;
	position:absolute;
	background-color:#FFF;
	border:1px solid #000;
	border-bottom:none;
	border-right:none;
	 -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
.textDemo{
	right:0px;
	width:35px;
	height:20px;
	font-size:10px;
	position:absolute;
	background:#FFF;
	margin-top:2px;
	margin-right:5px;
	vertical-align:middle;
	-web-kit-appearance:none;
	-moz-appearance: none;
	outline:0;
	border-radius:4px;
	border:1px solid #c8cccf;
}
.iconCell0Left{
	left:0px;
}
.iconCell1Left{
	left:70px;
}
.iconCell2Left{
	left:140px;
}
.iconCell3Left{
	left:210px;
}
.iconCell4Left{
	left:280px;
}
.iconCell5Left{
	left:350px;
}
.iconCell6Left{
	left:290px;
}
.iconCell7Left{
	left:493px;
}
.iconCell8Left{
	left:560px;
}
.iconCell9Left{
	left:630px;
}
.iconCell10Left{
	left:700px;
}
.iconCell11Left{
	left:770px;
}
.iconCell12Left{
	left:840px;
}
.iconCell13Left{
	left:910px;
}
.iconCell14Left{
	left:980px;
}
.iconCell15Left{
	left:1050px;
}
.iconCell16Left{
	left:1120px;
}
.iconCell17Left{
	left:1190px;
}
.iconCell18Left{
	left:1260px;
}

.box {
    width: 0px;
    height: 0px;
	color:#FFF;
    position: absolute;
	border:#FFF 2px solid;
    cursor: move;
	z-index:99;
}
#frameHead{
	background-color:#CCC;
	}
.circle{
	left:0px;
	top:0px;
	width:30px;
	height:40px;
	position:absolute;

	}
.imgType{
	width:30px;
	height:30px;
	z-index:-1;
	position:absolute;	
}
.divType{
	left:0px;
	top:0px;
	width:30px;
	height:30px;
	border:black 1px solid;
	position:absolute;

}
.tips{
	left:-17px;
	width:16px;
	height:16px;
	color:#000;
	font-size:12px;
	position:absolute;
	text-align:center;
	pointer-events:none;
	background-color:#FFFFBB;
}
.setColorWrite{
	color:#FFF;
	}
.setColorRed{
	color:#F00;
	}
.setColorBlue{
	color:#00F;
	z-index:9999999;
	}
.boxMonitor{
	width:60px;
	height:20px;
	-web-kit-appearance:none;
	-moz-appearance: none;
	outline:0;
	border-radius:4px;
	border:1px solid #c8cccf;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	}
.spotMonitor{
	width:60px;
	height:20px;
	-web-kit-appearance:none;
	-moz-appearance: none;
	outline:0;
	border-radius:4px;
	border:1px solid #c8cccf;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	}
.lineMonitor{
	width:60px;
	height:20px;
	-web-kit-appearance:none;
	-moz-appearance: none;
	outline:0;
	border-radius:4px;
	border:1px solid #c8cccf;
	text-align:center;
	vertical-align:middle;
	position:absolute;
}
.alarmImg,.optiongImg,.rangeoftempImg{
	width:25px;
	height:25px;
	vertical-align:middle;
	position:absolute;
}
.rangeoftempImg{
	top:4px;
	height:15px;
}
.createImg{
	top:-3px;
	width:30px;
	height:30px;
	position:absolute;
}
.nav2 {
    position:absolute;
    top:-8px;
    overflow:hidden;
    width:13px;
    height:13px;
    background:#FFF;
    position:absolute;
    border-left:1px solid #000;
    border-top:1px solid #000;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
.alarmInfo,.envirParam,.rangeoftemp {
    margin-top:30px;
    position:fixed;
    width:400px;
    height:200px;
    line-height:50px;
	background-color:#FFF;
    box-shadow:1px 1px 1px #000;
    border:1px solid #000;
    border-radius:8px;
    text-align:center;
    color:black;
    z-index:10;
    display:none;
    position:absolute;
}

#direction {
	top:125px;
	margin-left: 70px;
	box-shadow:0px 0px 0px;
}

#colorPlate{
	top:125px;
	margin-left: 70px;
	box-shadow:0px 0px 0px;
}
#videoRecord{
	top:125px;
	margin-left: 70px;
	box-shadow:0px 0px 0px;
}
#envirDivPlate{
	margin-top:33px;
	box-shadow:0px 0px 0px;
	border-radius:0px;
	border-left:0px solid #000;
	border-right:0px solid #000;
	border-bottom:0px solid #000;
}
.envirParam{
	width:200px;
	height:200px;
}
.rangeoftemp{
	width:320px;
	height:100px;
}
.alarmCheckDIv,.envirSubDiv{
	top:45px;
	left:230px;
	padding:0px 0px 0px 10px;
	width:150px;
	height:145px;
	border-radius:4px;
	background-color:#DDD;
	position:absolute;
}
.envirSubDiv{
	left:200px;
	width:180px;
}
.alarmCehckCell0{
	height:25px;
	width:100%;
	line-height:25px;
	position:absolute;
}
.alarmCheckTop0{
	top:30px;
}
.alarmCheckTop1{
	top:55px;
}
.alarmCheckTop2{
	top:80px;
}
.alarmCheckTop3{
	top:105px;
}
.alarmCheckspot{
	left:0px;
	top:6px;
	position:absolute;
}
.alarmLabelLeft{
	left:10px;
	position:absolute;
}

.alarmActiveDiv,.envirScoreDiv,.algorScoreDiv{
	height:40px;
	width:385px;
	left:15px;
	line-height:40px;
	padding:0px 0px 0px 15px;
	font-size:12px;
	border:1px #666 solid;
	border-left:none;
	border-right:none;
	border-top:none;
	z-index:9;
	text-align:left;
	vertical-align:middle;
}
.envirScoreDiv{
	width:185px;
}
.algorScoreDiv{
	width:305px;
}
.alarmDiv,.envirDiv,.algorDiv{
	width:200px;
	height:30px;
	line-height:30px;
	padding:0px 0px 0px 15px;
	font-size:12px;
	z-index:9;
	text-align:left;
	vertical-align:middle;
}
.algorDiv{
	padding-top:10px;
	width:300px;
}
.envirExternal{
	padding:0px 0px 0px 0px;
}
.alarmDivTail{
	width:400px;
	height:40px;
	z-index:9;
	position:absolute;
	top:200px;
	text-align:center;
	vertical-align:middle;
}
.alarmDivHead{
	height:30px;
	line-height:30px;
	z-index:9;
	position:absolute;
	text-align:left;
}
.alarmRight,.envirRight,.envirSubright{
	left:140px;
	width:70px;
	height:20px;
	font-size:10px;
	position:absolute;
	background:#FFF;
	padding:0px 0px 0px 5px;
	margin-top:5px;
	margin-right:5px;
	vertical-align:middle;
	-web-kit-appearance:none;
	-moz-appearance: none;
	outline:0;
	border-radius:4px;
	border:1px solid #c8cccf;
}
.envirRight{
	left:120px;
	width:60px;
	height:20px;
	margin-top:5px;
}
.algorRight{
	left:20px;
	width:80px;
	height:20px;
	margin-top:5px;
	font-size:12px;
}

.fontSize{
	font-size:8px;
}
.envirSubright{
	height:20px;
	left:120px;
	width:60px;
	border:1px solid #666;
	background-color:#DDD;
}
.alarmButton, .envirButton{
	height:20px;
	line-height:20px;
	width:60px;
	top:10px;
	left:325px;
	text-align:center;
	cursor:pointer;
	position:absolute;
    background-image: linear-gradient(#ddd, #bbb);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .2em;
    box-shadow: 0 1px white inset;
    color:black;
}
.alarmButton:active, .envirButton:active{
    box-shadow: .1em .1em .2em rgba(0,0,0,.6) inset;
    border-color: rgba(0,0,0,.3);
    background: #bbb;
}
.envirButton{
	left:124px;
}
.alarmFont, .envirFont{
	left:10px;
	cursor:pointer;
	position:absolute;
	left: 50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
}
.alarmLeftBox{
	left:120px;	
}
.envirLeftBox{
	left:250px;	
}
.algorLeftBox{
	left:180px;	
}
.envirPlate{
	top:20px;
	left:-30px;	
}
.alarmLeftSpot{
	left:0px;
}
.envirLeftSpot{
	left:30px;	
}
.algorLeftSpot{
	left:-40px;	
}
.alarmLeftLine{
	left:120px;
}
.boxNavleft{
	left:260px;
}
.areaBoxNavLeft{
	left:160px;
}
.spotNavleft{
	left:160px;
}
.lineNavleft{
	left:260px;
}
.alarmImgLeft{
	left:245px;
}
.maxLeft{
	left:90px;
}
.minLeft{
	left:200px;
}
.averLeft{
	left:310px;
}
.bellLeft{
	left:380px;
}
.spotBellLeft{
	left:160px;
}
.optionLeft{
	left:410px;
}
.rangeoftempLeft{
	left:440px;
}
.spotOptionLeft{
	left:190px;
}
.spotRangeoftempLeft{
	left:220px;
}
.buttonLeft{
	left:470px;
}
.spotButonLeft{
	left:250px;
}
.maxFont{
	left:50px;
	font-size:14px;
	position:absolute;
}
.minFont{
	left:160px;
	font-size:14px;
	position:absolute;
}
.averFont{
	left:270px;
	font-size:14px;
	position:absolute;
}
.panel{
	width:430px; 
	margin-bottom:10px;
	position:absolute;
}
.fontSize{
	font-size:12px;
	width:460px;
	color:#666;
	position:absolute;
	vertical-align:middle;
}
.bordLen{
	width:500px;
	height:30px;
	font-size:18px;
	color:#666;
	margin-bottom:10px;
	border:2px #000 solid;
	border-left:none;
	border-right:none;
	vertical-align:middle;
	position:absolute;
}
.boxTop{
	top:0px;
}
.spotTop{
	top:240px;
}
.lineTop{
	top:480px;
}
.cell0Top{
	top:40px;
}
.cell1Top{
	top:70px;
}
.cell2Top{
	top:100px;
}
.cell3Top{
	top:130px;
}
.cell4Top{
	top:160px;
}
.cell5Top{
	top:190px;
}
.cell6Top{
	top:220px;
}
.cell7Top{
	top:250px;
}
.cell8Top{
	top:280px;
}
.cell9Top{
	top:310px;
}
.cell10Top{
	top:340px;
}
.strongCell{
	top:2px;
	position:absolute;
}


.gredColor{
    vertical-align:middle;
    background: -webkit-linear-gradient(#FFF, #CCC); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#FFF, #CCC); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#CCC, #FFF); /* Firefox 3.6 - 15 */
    background: linear-gradient(#FFF, #CCC); /* 标准的语法 */
}
.colorGred{
	vertical-align:middle;
    background: -webkit-linear-gradient(#CCC, #FFF); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#CCC, #FFF); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#FFF #CCC); /* Firefox 3.6 - 15 */
    background: linear-gradient(#CCC, #FFF); /* 标准的语法 */
}
.center-in-center{
	top:120px;
	position:absolute;
	width:1015px;
	left: 50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
}
/*
.firstDiv{
	width:768px; 
	height:576px; 
	position:absolute;
}
*/
/*
.firstDiv{
	width:720px; 
	height:540px; 
	position:absolute;
}
*/
.firstDiv{
	width:480px; 
	height:360px; 
	position:absolute;
}
/*
.secondDiv{
	left:720px;
	width:50px;
	height:540px;
	padding:0px 0px 0px 5px;
	position:absolute;
}
*/
.secondDiv{
	left:180px;
	width:50px;
	height:360px;
	top:-200px;
	padding:0px 0px 0px 5px;
	position:absolute;
	transform: rotateZ(90deg);
}

.headIcon{
	position:absolute;
	top:-50px;
	height:40px;
	width:1015px;
	left: 50%;
	z-index:99;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
}

.headIcon .iconImg{
	width:30px;
	height:30px;
	left:0px;
	position:absolute;
}
.headIcon .iconCell{
	top:5px;
	width:180px;
	height:30px;
	line-height:25px;
	color:#666;
	position:absolute;
}

/*
.thirdDiv{
	left:770px;
	width:480px;
	height:540px;
	position:absolute;
}
*/
.thirdDiv{
	left:535px;
	width:480px;
	height:540px;
	position:absolute;
}
/*
.forthDiv{
	top:540px;
	height:50px;
	position:absolute;
}
*/
.forthDiv{
	top:360px;
	height:30px;
	left:0px;
	width:480px;
	background-color:#ff0;
	float:left;
	position:absolute;
}
.fiveDiv{
	top:560px;
	height:280px;
	padding:20px 0px 0px 0px;
	position:absolute;
}
.sixDiv{
	top:390px;
	width:480px;
	height:200px;
	position:absolute;
}
.secondeImg{
	left:15px;
	top:30px;
	width:20px;
	height:320px;
	position:absolute;
}
.secondText{
	width:40px;
	height:20px;
	position:absolute;
	float:left;
	text-align:center;
}
.forthImgDiv{
	width:20px;
	height:20px;
	top:5px;
	position:absolute;
	background-color:white;
	text-align:center;
}
.forthImg{
	left:0px;
	width:20px;
	height:20px;
	position:absolute;
}
.curvePanel{
	top:50px;
	width:480px;
	height:140px;
	display:none;
	position:absolute;
}
.curveCell{
	width:150px;
	height:120px;
	font-size:12px;
	position:absolute;
	background-color:#EEEEEE;
	border-radius:10px;
}
.curveTitle{
	text-align:center;
	line-height:30px;
	height:30px;
}
.curveSelect{
	height:40px;
	font-size:12px;
	position:absolute;
}
.curverSelectCell{
	width:85px;
	height:20px;
	left:60px;
	top:-2px;
	font-size:12px;
	background-color:#EEEEEE;
	position:absolute;
}
.curveSave{
	top:0px;
	left:360px;
	width:80px;
	height:40px;
	border-radius:4px;
	position:absolute;
}
.curveOption{
	width:470px;
	height:30px;
	line-height:30px;
	background-color:#EEEEEE;
	border-radius:6px;
	position:absolute;
}
.curveSettings{
	height:30px;
	width:235px;
	left:0px;
	text-align:center;
	cursor:default;
	line-height:30px;
	font-size:16px;
	border-radius:3px;
	background-color:#EEEEEE;
	position:absolute;
}
.curveSetFocus{
	color:#000;
	background-color:#ccc;
}
.curverShow{
	display:inline;
}
.curverHide{
	display:none;
}
.curverRec{
	top:10px;
	left:120px;
	width:60px;
	height:20px;
	background-color:#eee;
	position:absolute;
}
.curveButton{
	height:30px;
	width:100px;
	top:10px;
	right:10px;
	position:absolute;
    background-image: linear-gradient(#EEEEEE, #DDDDDD);
    border-radius: .3em;
    box-shadow: 0 1px white inset;
}
.cueverTempCell{
	width:150px;
	height:40px;
	left:10px;
	font-size:13px;
	line-height:40px;
	position:absolute;
}
.fivePanel{
	top:220px;
	left:0px;
	width:480px;
	height:280px;
	padding:10px 0px 0px 0px;
	position:absolute;
}
.textType{
	-web-kit-appearance:none;
	-moz-appearance: none;
	outline:0;
	border-radius:4px;
	border:1px solid #c8cccf;
}
.pageHead{
	width:100%;
	height:80px;
	background-color:#EEEEEE;
	position:absolute;
}
.sidebar{
	position:absolute;
	left: -15%;
	font-size: 14px;
	margin:0px 10px 0px 10px;
	color: #2c2c2c;
	display: inline-block;
	text-align:center;
}
.sidebar li{
	background: rgb(209, 233, 245);
	border-radius:4px;
	padding: 10px 25px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
	box-shadow: 1px 1px 3px rgb(179, 177, 177);
}
.lastLi{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
#setupList{
	margin-top: 4px;
	border:none;
	background: rgb(209, 233, 245);
	padding: 10px 25px;
	color: white;

	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
#setupList div{
	margin-top: 10px;
}
.buttomTip{
	position:fixed;
	bottom:0px;
	width:100%;
	height:30px;
	background-color:#666;
	text-align:center;
	display:inline-block;
}
.bottomFont{
	left:45%;
	top:3px;
	font-size:18px;
	position:absolute;
	display:inline-block;
	color:#CCC;
}
.mouseDiv{
	width:20px;
	height:20px;
	color:#00ff00;
	background-color:rgba(255,255,255,0);
	z-index:199;
	pointer-events:none;
	position:absolute;
}
